.container
  .row
    .span8
      %h3= I18n.t('author.authors')
    .span4
      .pull-right
        = link_to 'Add', new_language_admin_author_path(current_language), class: 'btn btn-primary'

  .row
    .span12
      %table.table.table-striped.grandham-list-data-table
        %thead
          %th Name
          %th
        %tbody.grandham-list
          - @authors.each do |author|
            %tr
              %td.tex-item
                = link_to author.name, language_author_path(author.language, author)
              %td.tex-item
                = link_to 'edit', edit_language_admin_author_path(current_language, author)