.container
  .row
    .span12.inline
      .pull-right
        %p= I18n.t('review.pending', count: @edits.count)
      .pull-left
        %h3= I18n.t('review.reviews')
  .row
    .span12
      - @edits.each do |edit|
        = render partial: 'review', locals: { edit: edit }