.media.grandham-list-item
  %a.pull-left{href: "#"}
    %img.media-object.grandham-list.img-thumbnail{alt: "...", src: author.profile_pictures.last.image.url(:thumb)}/
    .media-body
      %h4.media-heading
        = link_to author.name, language_author_path(author.language, author)
      - books_count = author.books.count

      %p
        = books_count
        = 'book'.pluralize books_count
