.row
  .col-offset-8
    %h4
      Books by author:
      = link_to @author.name, language_author_path(@author.language, @author)
    %br
    - @books.each do |book|
      = render partial: 'common/book', locals: { book: book }

    = will_paginate @books, renderer: BootstrapPagination::Rails
