.container
  .row
    .span10
      %h1 Authors
      .row
        .span5
          %h4 Name
        .span3
          %h4 Grandham ID
      - @authors.each do |author|
        .well.row
          .span5
            %p= author.name
          .span3
            %p=author.grandham_id