.container
  %br
  .row

    .span9
      %ul.grandham-items-list
        - @authors.each do |author|
          = render partial: 'author', locals: { author: author }

      .list-pagination
        = will_paginate @authors, renderer: BootstrapPagination::Rails
    - content_for :resources do
      - render 'common/resources'
