.row
  .col-md-8
    %br

    - @authors.each do |author|
      = render partial: 'author', locals: { author: author }

    .grandham-list-pagination
      = will_paginate @authors, renderer: BootstrapPagination::Rails

- content_for :resources do
  - render 'common/resources'
