.container
  %br
  .row
    = render partial: 'layouts/side_bar', locals: { active: 'authors' }

    .span9
      %ul.grandham-items-list
        - @authors.each do |author|
          = render partial: 'author', locals: { author: author }

      .list-pagination
        = will_paginate @authors, renderer: BootstrapPagination::Rails