.media.grandham-list-item
  %a.pull-left{href: "#"}
    %img.media-object.grandham-list.img-thumbnail{alt: "...", src: library_logo(library)}/
    .media-body
      %h4.media-heading
        = link_to library.name, language_library_path(library.language, library)
      - books_count = library.books.count

      %p
        = books_count
        = 'book'.pluralize books_count
