.col-md-12
  %ul.nav.nav-tabs
    %li{ class: is_active(activated_page, 'show') }
      = link_to 'Library', language_library_path(library.language, library)
    %li{ class: is_active(activated_page, 'edit') }
      = link_to 'Edit', edit_language_library_path(library.language, library)
    %li{ class: is_active(activated_page, 'history') }
      = link_to 'History', '#'
