%li.grandham-list-item
  .row
    .span1
      .list-item-library-cover
        = image_tag library.logos.last.image.url, class: 'img-polaroid'
    .span6
      %h4.list-grandham-title
        = link_to library.name, language_library_path(library.language, library)
      - books_count = library.books.count

      %p
        = books_count
        = 'book'.pluralize books_count