.container
  .row
    .span8.offset1
      %h4
        Books in library:
        = link_to @library.name, language_library_path(@library.language, @library)
      %br
      %ul.grandham-items-list
        - @books.each do |book|
          = render partial: 'books/book', locals: { book: book }

      .list-pagination
        = will_paginate @books, renderer: BootstrapPagination::Rails