.container
  %br
  .row

    .span9
      %ul.grandham-items-list
        - @libraries.each do |library|
          = render partial: 'library', locals: { library: library }

      .list-pagination
        = will_paginate @libraries, renderer: BootstrapPagination::Rails
        - content_for :resources do
          - render 'common/resources'
