.row
  .col-md-8
    %br

    = render @libraries

    .grandham-list-pagination
      = will_paginate @libraries, renderer: BootstrapPagination::Rails

- content_for :resources do
  - render 'common/resources'
