.row
  .col-md-8
    %br

    - @libraries.each do |library|
      = render partial: 'library', locals: { library: library }

    .grandham-list-pagination
      = will_paginate @libraries, renderer: BootstrapPagination::Rails

- content_for :resources do
  - render 'common/resources'