.media.grandham-list-item
  %a.pull-left{href: "#"}
    %img.media-object.grandham-list.img-thumbnail{alt: "...", src: publisher.logos.last.image.url(:thumb)}/
    .media-body
      %h4.media-heading
        = link_to publisher.name, language_publisher_path(publisher.language, publisher)
      - books_count = publisher.books.count

      %p
        = books_count
        = 'book'.pluralize books_count
