.row
  .col-md-8.col-offset-8
    %h4
      Books by publisher:
      = link_to @publisher.name, language_publisher_path(@publisher.language, @publisher)
    %br
    - @books.each do |book|
      = render partial: 'books/book', locals: { book: book }

    = will_paginate @books, renderer: BootstrapPagination::Rails
