.row
  .col-md-8
    %br

    - @publishers.each do |publisher|
      = render partial: 'publisher', locals: { publisher: publisher }

    .grandham-list-pagination
      = will_paginate @publishers, renderer: BootstrapPagination::Rails

- content_for :resources do
  - render 'common/resources'