.container
  %br
  .row

    .span9
      %ul.grandham-items-list
        - @publishers.each do |publisher|
          = render partial: 'publisher', locals: { publisher: publisher }

      .list-pagination
        = will_paginate @publishers, renderer: BootstrapPagination::Rails
        - content_for :resources do
          - render 'common/resources'
