.container
  %br
  .row
    = render partial: 'layouts/side_bar', locals: { active: 'publishers' }

    .span8
      %ul.grandham-items-list
        - @publishers.each do |publisher|
          = render partial: 'publisher', locals: { publisher: publisher }

      .list-pagination
        = will_paginate @publishers, renderer: BootstrapPagination::Rails