%tr
  %td
    .image
  %td.tex-item
    = link_to book.title, language_book_path(book.language, book)
  %td.tex-item
    - book.authors.each do |author|
      = link_to author.name, language_author_path(author.language, author)

  %td.tex-item
    - book.publishers.each do |publisher|
      = link_to publisher.name, language_publisher_path(publisher.language, publisher)