.row
  .col-md-8
    %br

    = render @books

    .grandham-list-pagination
      = will_paginate @books, renderer: BootstrapPagination::Rails

- content_for :resources do
  - render 'common/resources'
