.container
  .row
    .span12
      .pull-right
        = link_to I18n.t('.add_new_book'), new_language_submission_path(current_language || Language.default), class: 'btn btn-info'
  %br
  .row
    = render partial: 'layouts/side_bar', locals: { active: 'books' }

    .span9
      %table.table.table-striped
        %thead
          %tr
            %th
            %th Title
            %th Author
            %th Publisher
        %tbody.grandham-list
          - @books.each do |book|
            = render partial: 'book', locals: { book: book }