// Place all the styles related to the admin/review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-item {
  position: relative;
  margin: 15px 0;
  padding: 20px 20px 14px;
  *padding-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.edit-item + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

.edit-attribute {
  text-align: center;
}