.container
  .row
    .span8.offset1
      %br
      %form{ action: search_path, method: 'get' }
        %input{ name: 'query', value: params[:query], class: 'input-xxlarge', placeholder: 'Search Title, Author, Publisher, DDC, Keyword' }
        %button.btn-success{ type: 'submit' }
          %i.icon-search
          = I18n.t('.search')


  - unless @results['book'].blank?
    .row
      .span8.offset1
        %h4 Books
        %ul.grandham-items-list
          - @results['book'].each do |book|
            = render partial: 'books/book', locals: { book: book }

  - unless @results['author'].blank?
    .row
      .span8.offset1
        %h4 Authors
        - @results['author'].each do |author|
          %p= author.name