.container
  .row
    .span8.offset1
      %br
      %form{ action: search_path, method: 'get' }
        %input{ name: 'query', value: params[:query], class: 'input-xxlarge', placeholder: 'Search Title, Author, Publisher, DDC, Keyword' }
        %button.btn-success{ type: 'submit' }
          %i.icon-search
          = I18n.t('.search')
        / %br
        / = link_to 'More options', '#'

  - unless @results['submission'].blank?
    .row
      .span8.offset1
        %h4 Books
        - @results['submission'].each do |submission|
          %p= submission.title

  - unless @results['author'].blank?
    .row
      .span8.offset1
        %h4 Authors
        - @results['author'].each do |author|
          %p= author.name