/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootswatch/readable/variables";

@import "bootstrap";

body { padding-top: 60px; }

@import "bootstrap-responsive";

@import "bootswatch/readable/bootswatch";

@import 'font-awesome';


ul.side-bar-list > li {
  background-color: rgba(238, 238, 238, 0.37);
  padding: 12px;
  list-style-type: none;
  margin-bottom: 15px;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);

  & a:hover {
    text-decoration: none;
    color: #6D5030;
  }
}

ul.side-bar-list > li:hover{
  cursor: pointer;
  background-color: rgba(211, 193, 193, 0.37);
}


ul.actions {
  margin-top: 200px;
}
ul.actions > li {
  list-style-type: none;
}

a {
  color: #6D5030;
}