/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datatables.net-bs/css/dataTables.bootstrap.css
 *= require twitter/bootstrap
 *= require_tree .
 */

@import 'nprogress';
@import 'nprogress-bootstrap';

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (min-width: 768px) {

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 15px;
  }
}

img.media-object.grandham-list {
  max-height: 64px;
  max-width: 64px;
}

h4.media-heading a, .media-body p a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;

  &:hover {
    color: #428BCA;
    text-decoration: underline;
  }
}

.media-body p a {
  font-size: 1em;
}

.grandham-list-item {
 padding-bottom: 20px;
 border-bottom: 1px solid #efefef;
}

.remove-field {
  margin: 0px -8px -6px 0px
}

.grandham-brand-logo {
  color: #999;
  &:hover {
    text-decoration: none;
  }
}
