// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.book-information {
  font-size: 1.2em;
}

.highlight-form-removable-field {
  padding: 2px 0px;
  margin-bottom: 14px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 4px;
}

.remove-button{
  margin-top: 3px;
}