.row
  .col-md-2
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Langauge
        %span.caret
      %ul.dropdown-menu
        %li
          %a{href: "#"} Malayalam

  .col-md-5
    .btn-group.btn-group-justified

      %a.btn.btn-default.active{type: "button"} Books
      %a.btn.btn-default{type: "button"} Authors
      %a.btn.btn-default{type: "button"} Publishers
      %a.btn.btn-default{type: "button"} Libraries