.row
  .col-md-2
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        = (current_language && current_language.name) || 'Langauge'
        %span.caret
      %ul.dropdown-menu
        - Language.all.each do |language|
          %li
            = link_to language.name, language_books_path(language)

  .col-md-5
    .btn-group.btn-group-justified

      %a.btn.btn-default{class: is_resource_active?('books'), type: "button", href: current_language_path('books')} Books
      %a.btn.btn-default{class: is_resource_active?('authors'), type: "button", href: current_language_path('authors')} Authors
      %a.btn.btn-default{class: is_resource_active?('publishers'), type: "button", href: current_language_path('publishers')} Publishers
      %a.btn.btn-default{class: is_resource_active?('libraries'), type: "button", href: current_language_path('libraries')} Libraries