.header
  %ul.nav.nav-pills.pull-right
    %li
      %a{href: add_new_book_path}
        %span.glyphicon.glyphicon-plus
        Add new book

    %li
      %a{href: books_search_path}
        %span.glyphicon.glyphicon-search
        Search
    %li
      - if user_signed_in?
        = render 'layouts/account_drop_down'
      - else
        = link_to new_user_session_path do
          %span.glyphicon.glyphicon-user
          Sign in


  %h3.text-muted
    = link_to '/', class: 'grandham-brand-logo' do
      Grandham
