.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"} Grandham
      #main-menu.nav-collapse.collapse
        %ul#main-menu-left.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Languages
              %b.caret
            %ul#swatch-menu.dropdown-menu
              - Language.all.each do |language|
                %li
                  %a{:href => "#"}= language.name
          %li
            %a{:href => '#'} Books
          %li
            %a{:href => '#'} Authors
          %li
            %a{:href => '#'} Publishers
          %li
            %a{:href => '#'} Libraries

        %ul#main-menu-right.nav.pull-right
          %li
            %a{:href => "#"}
              Sign in